@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.mt-7 {
    margin-top: 50px;
}
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    width: 100%;
    padding: 9px;
    border-radius: 9px;
    border: 2px solid black;
}
.img-fluid {
    width: 290px;
    min-height: 300px;
    max-height: 450px;
}
.features-row {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: auto;
}
@media(max-width: 1050px) {
    .features-row {
        margin-top: 80px;
        display: grid;
        grid-template-columns: auto auto;
        grid-area: auto;
    }
}
@media(max-width: 962px) {
    .features-row {
        margin-top: 80px;
        display: grid;
        grid-template-columns: auto;
        grid-area: auto;
    }
}
.col {
    margin: 25px;
}
a.btn-orange {
    text-decoration: none;
    border: 1px solid orangered;
    color: orangered;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 47px;
}
a.btn-orange:hover {
    background-color: orangered;
    color: white;
}
footer {
    background-color: black;
    color: white;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}